<!DOCTYPE html>
<html>
<head>
    <title>Crud Application</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'flask2.png')}}">
</head>

<body style="background-color: lightblue;">
    <div class="container">
        <div class="well text-center"> <!-- Added 'text-center' class -->
            <div class="row">
                <div class="col-md-12"> <!-- Utilizing the entire width of the column -->
                    <h1 style="font-weight: bold; color: black;">Flask Web Application Development</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


